**/node_modules
**/.next
**/out
**/dist
**/build
*.exe
backend/service
iwaradl
/media
/scratch
/data
/local
**/.local
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.list
.git
.gitignore
.env
.env.*
**/.DS_Store
**/npm-debug.log*
README.md
docker-compose*.yml
Dockerfile
.dockerignore
